* {
  color: #f2f2ff !important;
  font-family: 'Oxygen', sans-serif;
}

body {
  background-color: #100818;
}

#header {
  margin: 10px;
  text-align: center;
}

#info {
  text-align: center;
}

h1, h3 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}

.title {
  color: #da3654 !important;
  font-size: 50px;
  font-weight: bold;
}

h2 {
  color: #da3654 !important;
}

b {
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 0px !important;
}

#header ul {
  padding: 0px !important;
}

#header ul li {
  display: inline-block;
  font-size: 34px;
}

footer p {
  color: #da3654 !important;
  font-style: italic;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}

footer small {
  font-style: italic;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  padding-bottom: 30px;
}

img {
  max-width: 160px;
  max-height: 160px;
  border-radius: 50%;
  border: 2px solid #807e7e;
}

.btn-cv {
  border-radius: 20px;
  background-color: #da3654;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
}
